* {
    padding: 0;
    margin: 0;
  }

main{
    min-height:100vh;
}
#sidebar{
    background-color: whitesmoke;
    min-height: 100vh;
}

h6{
    font-weight:normal;
}

#currentUV{
    padding:2px;
    margin:2px;
    border-radius:5px;
}
.list-group-item:hover{
    cursor: pointer;
}
